@keyframes slide-article {
  from {
    transform: translateY(30px);
    opacity: 0;
  }
  to {
    transform: translateY(0);
    opacity: 1;
  }
}
.menu__section__article {
  animation: slide-article 1.5s ease backwards;
}

.article1 {
  animation-delay: 0.2s;
}

.article2 {
  animation-delay: 0.4s;
}

.article3 {
  animation-delay: 0.6s;
}

* {
  box-sizing: border-box;
}

body {
  font-family: "Roboto";
  margin: 0px;
}
body a {
  text-decoration: none;
  color: black;
}

header #logo a {
  text-decoration: none;
  color: black;
}
header #logo h1 {
  text-align: center;
  font-family: Shrikhand;
  font-size: 30px;
  margin: 5px 0px;
}
header .arrow_menu {
  position: absolute;
  font-size: 25px;
  left: 30px;
  top: 15px;
}
header #image_menu {
  height: 250px;
}
header #image_menu img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.explorer {
  display: flex;
  align-items: center;
  flex-direction: column;
  text-align: center;
}
.explorer__map {
  width: 100%;
  display: flex;
  align-items: baseline;
  background-color: #e6e6e6;
  justify-content: center;
  box-shadow: inset 0px 1px 4px #828282;
}
.explorer__map i {
  padding-right: 15px;
}
.explorer__reserver {
  display: flex;
  align-items: center;
  flex-direction: column;
  font-weight: 300;
  width: 100%;
  background-color: #f6f6f6;
  padding: 50px 0px;
}
.explorer__reserver p {
  padding: 0px 20px;
}
.explorer__reserver a {
  text-decoration: none;
}
.explorer__reserver__btn {
  background: linear-gradient(#ff79da, #9356dc);
  height: 50px;
  color: white;
  border-radius: 50px;
  width: 60%;
  min-width: 170px;
  display: flex;
  align-items: center;
  font-weight: 500;
  justify-content: center;
  padding: 0px 20px;
  box-shadow: 5px 5px 8px 2px #e6e6e6;
}
.explorer__reserver__btn:hover {
  box-shadow: 5px 5px 8px 2px #828282;
  opacity: 0.7;
}
.explorer h2 {
  margin: 0px;
  padding: 0px 20px;
}

.fonctmnt {
  width: 100%;
  display: flex;
  flex-direction: column;
  padding: 40px 30px 10px 30px;
}
.fonctmnt a:visited {
  color: black;
}
.fonctmnt ul {
  padding: 0px;
  margin: 0px;
}
.fonctmnt__choice {
  display: flex;
  align-items: center;
  border-radius: 25px;
  background-color: #f6f6f6;
  box-shadow: 5px 5px 8px 2px #e6e6e6;
  margin: 20px 0px;
  height: 80px;
  transition: background-color 0.5s;
}
.fonctmnt__choice .fonctmnt__choice__logo {
  transition: color 0.5s;
}
.fonctmnt__choice:hover {
  background-color: #f3e5f8;
  border-radius: 25px;
}
.fonctmnt__choice:hover .fonctmnt__choice__logo {
  color: #9356dc;
}
.fonctmnt__choice a {
  display: block;
  display: flex;
  align-items: center;
  width: 100%;
  height: 100%;
  text-decoration: none;
}
.fonctmnt__choice a p {
  font-size: 18px;
}
.fonctmnt__choice__num {
  background-color: #9356dc;
  padding: 5px 10px;
  border-radius: 50%;
  color: white;
  margin-left: -12px;
}
.fonctmnt__choice__logo {
  padding: 0px 30px;
  font-size: 25px;
  color: #828282;
}

.restaurants {
  padding: 50px 20px 30px 20px;
  background-color: #f6f6f6;
}
.restaurants a:visited {
  color: black;
}
.restaurants__article {
  margin-bottom: 30px;
  box-shadow: 5px 5px 8px 2px #e6e6e6;
  border-radius: 20px;
  position: relative;
  transition: transform 1s;
}
.restaurants__article:hover {
  transform: scale(1.02);
}
.restaurants__article .new {
  position: absolute;
  right: 15px;
  top: 15px;
  background-color: #99e2d0;
  color: #028534;
  border-radius: 3px;
}
.restaurants__article .new p {
  margin: 10px;
}
.restaurants__article a {
  text-decoration: none;
}
.restaurants__article__img {
  height: 250px;
}
.restaurants__article__img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 20px 20px 0px 0px;
}
.restaurants__article__txt {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: white;
  list-style: none;
  padding: 20px 20px 20px 20px;
  border-radius: 0px 0px 20px 20px;
}
.restaurants__article__txt p {
  font-size: 18px;
  margin: 5px 0px 0px 0px;
}
.restaurants__article__txt h3 {
  font-size: 22px;
  margin: 0px;
}

.heart:hover {
  cursor: pointer;
}
.heart:hover .heart_empty {
  display: none;
}
.heart:hover .heart_full {
  transition: opacity 2s;
  opacity: 1;
  font-size: 30px;
  background: linear-gradient(#ff79da, #9356dc);
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
}
.heart .heart_empty {
  font-size: 30px;
  color: #828282;
}
.heart .heart_full {
  margin-top: -10px;
  opacity: 0;
}

footer {
  padding: 30px;
  text-decoration: none;
  background-color: #232323;
  color: white;
}
footer #logo {
  font-family: Shrikhand;
  font-size: 25px;
}
footer #logo a {
  text-decoration: none;
  color: white;
}
footer ul {
  list-style: none;
  padding: 0px;
  display: inline-block;
}
footer ul li a {
  display: flex;
  align-items: center;
  text-decoration: none;
  color: white;
}
footer ul li a .logo {
  padding-right: 15px;
}
footer ul li a p {
  margin: 5px 0px;
  padding: 0px;
}

.menu {
  background-color: #f6f6f6;
  padding: 0px 20px;
  border-radius: 40px 40px 0px 0px;
  margin-top: -40px;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.menu__title {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}
.menu__title h1 {
  font-family: Shrikhand;
}
.menu__title .heart {
  margin: 5px 20px 0px 0px;
}
.menu__section {
  width: 100%;
  padding-bottom: 30px;
}
.menu__section__title {
  font-size: 20px;
  margin: 0px;
  padding: 0px 0px 20px 0px;
}
.menu__section__title--underligne {
  border-bottom: solid #99e2d0 3px;
}
.menu__section__article {
  width: 100%;
  background-color: white;
  border-radius: 20px;
  margin-bottom: 15px;
  box-shadow: 5px 5px 8px 2px #e6e6e6;
  display: flex;
  justify-content: space-between;
}
.menu__section__article .meal {
  width: 100%;
  display: flex;
  justify-content: space-between;
}
.menu__section__article .meal__set {
  width: 100%;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  white-space: nowrap;
  overflow: hidden;
}
.menu__section__article .meal__set__title {
  width: 100%;
  font-size: 20px;
  margin: 0px;
  padding: 15px 0px 0px 15px;
  text-overflow: ellipsis;
  overflow: hidden;
}
.menu__section__article .meal__set__complement {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px 20px 15px 15px;
}
.menu__section__article .meal__set__complement p {
  overflow: hidden;
  text-overflow: ellipsis;
}
.menu__section__article .meal__set__complement .meal__price {
  font-size: 18px;
  margin: 0px;
  overflow: visible;
}
.menu__section__article .meal .animation {
  display: flex;
  align-items: center;
  justify-content: space-around;
  order: 3;
  background-color: #99e2d0;
  color: white;
  font-size: 40px;
  border-radius: 0px 20px 20px 0px;
  width: 0%;
  transition: width 0.5s;
  overflow: hidden;
}
.menu__section__article .meal .animation i {
  transform: rotate(0deg);
  transition: transform 0.5s ease-in-out;
}
.menu__section__article .meal:hover {
  cursor: pointer;
}
.menu__section__article .meal:hover .animation {
  display: flex;
  align-items: center;
  width: 80px;
}
.menu__section__article .meal:hover .animation i {
  transform: rotate(360deg);
}
.menu__order__btn {
  background: linear-gradient(#ff79da, #9356dc);
  height: 50px;
  color: white;
  border-radius: 50px;
  width: 60%;
  min-width: 170px;
  display: flex;
  align-items: center;
  font-weight: 500;
  justify-content: center;
  padding: 0px 20px;
  box-shadow: 5px 5px 8px 2px #e6e6e6;
  display: flex;
  justify-content: center;
  margin-bottom: 80px;
  font-size: 20px;
}
.menu__order__btn:hover {
  box-shadow: 5px 5px 8px 2px #828282;
  opacity: 0.7;
}

/*# sourceMappingURL=style.css.map */
