#restaurants {
  padding: 50px 20px 30px 20px;
  background-color: $gris1;
  a:visited {
    color: black;
  }
}
.article {
  margin-bottom: 30px;
  @include box-shadow;
  border-radius: 20px;
  position: relative;

  .new {
    position: absolute;
    right: 15px;
    top: 15px;
    background-color: $tertiaire;
    color: rgb(2, 133, 52);
    border-radius: 3px;
    p {
      margin: 10px;
    }
  }
  a {
    text-decoration: none;
  }
  &_img {
    height: 250px;
    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      border-radius: 20px 20px 0px 0px;
    }
  }
  &_txt {
    @include flex_center;
    justify-content: space-between;
    background-color: white;
    list-style: none;
    padding: 20px 20px 20px 20px;
    border-radius: 0px 0px 20px 20px;

    p {
      font-size: 18px;
      margin: 5px 0px 0px 0px;
    }
    h3 {
      font-size: 22px;
      margin: 0px;
    }
  }
}
.heart {
  &:hover {
    cursor: pointer;
    .heart_empty {
      display: none;
    }
    .heart_full {
      opacity: 1;
      font-size: 30px;
      background: linear-gradient($secondaire, $primaire);
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
    }
  }
  .heart_empty {
    font-size: 30px;
    color: $gris3;
  }
  .heart_full {
    margin-top: -10px;
    opacity: 0;
  }
}
