#fonctmnt {
  display: flex;
  flex-direction: column;
  padding: 40px 30px 10px 30px;

  a:visited {
    color: black;
  }
  ul {
    padding: 0px;
    margin: 0px;
  }
}
.fonctmnt__choix {
  display: flex;
  align-items: center;
  border-radius: 25px;
  background-color: $gris1;
  box-shadow: 0px 8px 8px $gris2;
  margin: 20px 0px;
  height: 80px;
  &__logo {
    padding: 0px 30px 0px 30px;
    font-size: 25px;
    color: $gris3;
  }
  a {
    display: flex;
    align-items: center;
    width: 100%;
    margin-left: -12px;
    border-radius: 25%;
    text-decoration: none;
    p {
      font-size: 15px;
    }
  }
  &__num {
    background-color: $primaire;
    padding: 5px 10px;
    border-radius: 50%;
    color: white;
  }
}
