.btn {
  background: linear-gradient($secondaire, $primaire);
  height: 50px;
  color: rgb(255, 255, 255);
  border-radius: 50px;
  width: 60%;
  min-width: 200px;
  @include flex_center;
  font-weight: 500;
  justify-content: center;
  @include sides-padding;
  @include box-shadow;
  opacity: 1;
  transition: opacity 1s, box-shadow 1s;
  &:hover {
    box-shadow: 5px 5px 10px 1px $gris3;
    opacity: 0.8;
  }
}
.heart {
  .heart_empty {
    font-size: 30px;
    color: $gris3;
  }
  .heart_full {
    margin-top: -10px;
    opacity: 0;
  }
  &:hover {
    cursor: pointer;

    .heart_empty {
      display: none;
    }
    .heart_full {
      opacity: 1;
      transition: opacity 2s;
      font-size: 30px;
      background: linear-gradient($secondaire, $primaire);
      background-clip: text;
      -webkit-background-clip: text;
      color: transparent;
    }
  }
}
