$primaire: #9356dc;
$secondaire: #ff79da;
$tertiaire: #99e2d0;
$gris1: rgb(246, 246, 246);
$gris2: rgb(230, 230, 230);
$gris3: rgb(200, 199, 199);
@mixin explorer-padding {
  padding: 0px 20px 0px 20px;
}
#explorer {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  &__map {
    width: 100%;
    display: flex;
    align-items: baseline;
    background-color: $gris2;
    justify-content: center;
    box-shadow: inset 0px 2px 2px $gris3;
    &__point {
      padding-right: 15px;
    }
  }
  &__reserver {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-weight: 300;
    width: 100%;
    background-color: $gris1;
    padding: 20px 0px;
    p {
      @include explorer-padding;
    }
    a {
      text-decoration: none;
    }
    &__btn {
      background: linear-gradient($secondaire, $primaire);
      height: 50px;
      color: white;
      border-radius: 50px;
      display: flex;
      justify-content: center;
      align-items: center;
      font-weight: 500;
      @include explorer-padding;
    }
    h2 {
      margin: 0px;
      @include explorer-padding;
    }
  }
}
