.explorer {
  @include flex_center;
  flex-direction: column;
  text-align: center;
  &__map {
    width: 100%;
    display: flex;
    align-items: baseline;
    background-color: $gris2;
    justify-content: center;
    box-shadow: inset 0px 1px 4px $gris3;
    i {
      padding-right: 15px;
    }
  }
  &__reserver {
    @include flex_center;
    flex-direction: column;
    font-weight: 300;
    width: 100%;
    background-color: $gris1;
    padding: 50px 0px;

    p {
      @include sides-padding;
    }
    a {
      text-decoration: none;
    }
  }
  h2 {
    margin: 0px;
    @include sides-padding;
  }
}
