footer {
  padding: 30px;
  text-decoration: none;
  background-color: rgb(35, 35, 35);
  color: white;

  #logo {
    font-family: Shrikhand;
    font-size: 25px;
    width: 100%;

    p {
      margin: 0px;
    }
  }
  ul {
    list-style: none;
    padding: 0px;
    p {
      margin: 5px 0px;
    }
    a {
      @include flex_center;
      text-decoration: none;
      color: white;
      .logo {
        padding-right: 15px;
      }
    }
  }
  p {
    padding: 0px;
  }
}
