#menu_main {
  background-color: $gris1;
  @include sides-padding;
  border-radius: 40px 40px 0px 0px;
  margin-top: -40px;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;

  &__order_btn {
    @include btn;
    display: flex;
    justify-content: center;
    margin-bottom: 80px;
    font-size: 20px;
  }
  &__title {
    @include flex_center;
    justify-content: space-between;
    width: 100%;
    h1 {
      font-family: Shrikhand;
    }
    .heart_empty {
      font-size: 30px;
    }
    &__order_btn {
      @include btn;
      display: flex;
      justify-content: center;
      margin-bottom: 80px;
      font-size: 20px;
    }
  }
  &__section {
    width: 100%;
    padding-bottom: 30px;
    h2 {
      .underligne {
        border-bottom: solid $tertiaire 3px;
      }
      font-size: 20px;
      margin: 0px;
      padding: 0px 0px 20px 0px;
    }
    article {
      background-color: white;
      border-radius: 20px;
      margin-bottom: 15px;
      @include box-shadow;
      h3 {
        font-size: 20px;
        margin: 0px;
        padding: 15px 0px 0px 15px;
      }
      p {
        font-weight: normal;
        margin: 0px;
      }
      #price {
        @include flex_center;
        justify-content: space-between;
        padding: 10px 20px 15px 15px;
        .number {
          font-size: 18px;
        }
      }
    }
  }
}
